absl-py==2.4.0
APScheduler==3.11.2
asgiref==3.11.1
astunparse==1.6.3
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
cbor2==5.8.0
certifi==2026.2.25
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.4.5
constantly==23.10.4
cryptography==46.0.5
daphne==4.2.1
dj-database-url==3.1.2
Django==6.0.3
django-apscheduler==0.7.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.78.0
gunicorn==25.1.0
h5py==3.14.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
joblib==1.5.3
keras==3.13.2
libclang==18.1.1
markdown-it-py==4.0.0
mdurl==0.1.2
ml_dtypes==0.5.4
msgpack==1.1.2
namex==0.1.0
numpy==2.4.3
opt_einsum==3.4.0
optree==0.19.0
packaging==26.0
pandas==3.0.1
pillow==12.1.1
protobuf==7.34.0
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.19.2
PyJWT==2.11.0
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
requests==2.32.5
rich==14.3.3
scikit-learn==1.8.0
scipy==1.17.1
service-identity==24.2.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzlocal==5.3.1
ujson==5.11.0
urllib3==2.6.3
wheel==0.46.3
wrapt==2.1.2
zope.interface==8.2
