django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-extensions
django-import-export
channels
daphne
django-apscheduler
psycopg2-binary
dj-database-url
python-dotenv
gunicorn
whitenoise
ldap3
pytz
Pillow
joblib
numpy
pandas
scikit-learn
